<div id="<%= dom_id employee %>">
  <p>
    <strong>Cpf:</strong>
    <%= employee.cpf %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= employee.storage_id %>
  </p>

</div>
