<div id="<%= dom_id products_storage %>">
  <p>
    <strong>Storage:</strong>
    <%= products_storage.storage_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= products_storage.product_id %>
  </p>

</div>
