<h1>Editing products storage</h1>

<%= render "form", products_storage: @products_storage %>

<br>

<div>
  <%= link_to "Show this products storage", @products_storage %> |
  <%= link_to "Back to products storages", products_storages_path %>
</div>
