@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f6f1f1;
}

.title {
  display: flex;
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: center;
}