<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Trabalho 5</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/storages">Storages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employees">Employees</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/contracts">Contracts</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/products_storages">Storages & Products</a>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if current_user %>      
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger my-4" %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary m-3" %>
  <%= link_to "Sign in", new_user_session_path, class: "btn btn-success m-3" %>
<% end %>

<div class="container-fluid">
  <h1 id="trabalho-5-programa-o-web-19-09-2022">TRABALHO 5 - PROGRAMAÇÃO WEB 19/09/2022</h1>
  <h1 id="pedro-martins-e-s-grr20186104-pmes18">Pedro Martins e Sá; GRR20186104; pmes18</h1>
  <h2 id="informa-es-sobre-o-banco-de-dados">INFORMAÇÕES SOBRE O BANCO DE DADOS</h2>
  <h3 id="tabelas-">Tabelas:</h3>
  <ul>
    <li>Storages:     [id, name, cnpj]                // tabela de lojas</li>
    <li>Products:   [id, name, barcode]               // tabela de produtos</li>
    <li>Employess:   [id, name, cpf, storage_id]      // tabela de funcionários e sua loja 1:N</li>
    <li>Contracts: [id, employee_id, contractId]      // tabela de contrato de funcionários 1:1</li>
    <li>products_storages: [storage_id, product_id]   // tabela gerada do relacionamento N:N entre product e storage</li>
  </ul>
  <h3 id="relacionamento-das-tabelas-">Relacionamento das tabelas:</h3>
  <pre><code>  -<span class="ruby"> Employess <span class="hljs-number">1</span><span class="hljs-symbol">:</span><span class="hljs-number">1</span> Contracts
  </span>-<span class="ruby"> Storages <span class="hljs-number">1</span><span class="hljs-symbol">:N</span> Employess
  </span>-<span class="ruby"> Storages <span class="hljs-symbol">N:</span>N Products</span>
  </code></pre><h2 id="diret-rios">DIRETÓRIOS</h2>
  <ul>
    <li>backend:  pasta raiz onde possui todas as outras pastas do projeto.<ul>
    <li>app: terá os principais arquivos relacionados ao sistema.<ul>
    <li>controllers: possuí as controllers do projeto, é lá também onde é aplicada todas as regras de negocios da aplicação.</li>
    <li>javascript: onde está o sweetalert_controller, para criação desse alert, sempre mostrado antes de excluir um registro do banco, foi usado o Stimulus.</li>
    <li>models: definição das models de acordo com as tabelas citadas acima.</li>
    <li>views: o frontend da aplicação, é nesse ponto que está implementada o html da aplicação.</li>
  </ul>
  </li>
    <li>config: terá os arquivos de configuração geral do projeto, como o rootes.rb, arquivo responsável por definir as rotas da aplicação.</li>
    <li>db: arquivo que contém as informações sobre o banco de dados<ul>
    <li>migrate: possuí as migrações definidas pelas models e views</li>
  </ul>
  </li>
  </ul>
  </li>
  </ul>
  <h2 id="execu-o">EXECUÇÃO</h2>
  <p>  dentro da pasta backend:</p>
  <pre><code>  - bundle install
  -<span class="hljs-built_in"> execute </span>rails db:migrate
  -<span class="hljs-built_in"> execute </span>rails db:reset
  -<span class="hljs-built_in"> execute </span>rails s
  - acesse http://127.0.0.1:3000/ no seu navegador
  </code></pre><h2 id="usu-rios">Usuários</h2>
  <h3 id="admin">admin</h3>
  <pre><code><span class="hljs-attribute">  login</span>: admin<span class="hljs-variable">@admin</span>
  <span class="hljs-attribute">password</span>: <span class="hljs-number">123123</span>
  </code></pre><h3 id="user">user</h3>
  <pre><code><span class="hljs-attribute">  login</span>: user<span class="hljs-variable">@user</span>
  <span class="hljs-attribute">password</span>: <span class="hljs-number">123123</span>
  </code></pre>
</div>
